<div>
    {{#each products}}
        <p> {{this.title}}: {{this.price}}$ </p>
    {{/each}}
    {{#if hasPrevPage}}
        <a href="/api/products?page={{prevPage}}{{#if sort}}&sort={{sort}}{{/if}}{{#if query}}&query={{query}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
        <a href="/api/products?page={{nextPage}}{{#if sort}}&sort={{sort}}{{/if}}{{#if query}}&query={{query}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}"><button>Siguiente</button></a>
    {{/if}}

</div>